div#rebuy-cart {
  z-index: 9999999999999;
  position: relative;
}

.rebuy-cart__flyout-header {
  padding: 0px !important;
}

button.rebuy-cart__flyout-close {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(1);
  font-size: 20px !important;
}

.ajax-cart-item__title_rebuy a {
  font-size: 14px !important;
  text-decoration: none;
  font-family: "Hind", Helvetica Neue, Helvetica, Arial, Sans-serif;
  color: #0071d0 !important;
  text-transform: capitalize;
  margin-bottom: 15px !important;
}

.rebuy-cart__flyout-item-quantity-widget {
  border: 1px solid #0071d0 !important;
}

button.rebuy-cart__flyout-item-quantity-widget-button {
  width: 24px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0071d0 !important;
}

span.rebuy-cart__flyout-item-quantity-widget-label {
  border: none;
  height: 30px !important;
  width: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  color: #0071d0;
  pointer-events: none;
}

.rebuy-cart__flyout-item-quantity-widget-button:hover {
  background: none !important;
  width: 24px !important;
  height: 30px !important;
  display: flex !important;
}

.rebuy-cart__flyout-item-variant-title {
  font-size: 14px !important;
}

.rebuy-cart__flyout-item-price {
  font-size: 15px !important;
}

.rebuy-cart__checkout-button {
  border-radius: 0px !important;
  border: 1px solid #0bbee3 !important;
  background: #0bbee3 !important;
  text-transform: uppercase !important;
}

.rebuy-cart__checkout-button:hover {
  filter: brightness(80%);
}

.ajax-cart-drawer__announcement-content-text {
  background: white;
  border-bottom: 1px solid #e4e7ed !important;
  padding-inline: 10px !important;
}

.rebuy-cart__flyout-actions {
  margin-top: 10px;
}

.rebuy-cart__flyout-subtotal.cart-subtotal-container {
  padding-top: 10px;
}

.rebuy-cart__flyout {
  width: 404px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.rebuy-cart .fal {
  font-weight: 500;
  font-size: 23px;
}

.rebuy-cart__flyout-item {
  align-items: flex-start !important;
  margin-inline: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 15px !important;
}

/*
.rebuy-cart__flyout-item-media{
  width: 101px!important;
}

.rebuy-cart__flyout-item-info{
  width:calc(100% - 101px)!important;
}

ul.rebuy-cart__flyout-items {
  padding: 16px 0px !important;
}
*/

button.rebuy-cart__flyout-item-remove svg {
  width: 50px !important;
}

.rebuy-cart__flyout-item-product-title {
  font-weight: 500 !important;
}

span.rebuy-cart__flyout-item-property-name {
  font-weight: 500 !important;
}

.rebuy-cart__flyout-item-properties a.rebuy-cart__flyout-item-property-link {
  color: #1b1b1d !important;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  font-weight: 300 !important;
}

.rebuy-cart__flyout-item-properties .property-key-view-prescription {
  margin-top: 7px;
}

.rebuy-cart__flyout-content {
  overflow-y: auto !important;
}

.rebuy-cart__flyout-item-properties {
  max-width: 225px !important;
}

/* CART POPOUT MOBILE TRANSITION */
@media (max-width: 480px) {
  .rebuy-cart__flyout {
    -webkit-transition: right 0.25s ease-in-out, visibility 0.25s ease-in-out !important;
    transition: right 0.25s ease-in-out, visibility 0.25s ease-in-out !important;
    inset: 0 -100% 0 auto !important;
    width: 100% !important;
  }
  .is-visible .rebuy-cart__flyout {
    right: 0 !important;
  }
}

.rebuy-cart__flyout-content {
  max-height: calc(100% - 153px) !important;
}

.rebuy-cart__flyout:has(redo-shopify-toggle) .rebuy-cart__flyout-content {
  max-height: calc(100% - 255px) !important;
}

.cart-note--active .rebuy-rebuy-cart-note-content {
  display: block;
}

.rebuy-rebuy-cart-note-content {
  display: none;
  width: 100%;
  padding-top: 12px;
}

#rebuy-rebuy-cart-note-content {
  width: 100%;
  max-height: 200px;
  font-size: inherit;
}

#rebuy-rebuy-cart-note-content:focus,
#rebuy-rebuy-cart-note-content {
  font-size: 16px;
}

#rebuy-cart-note-content::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #676767;
}

#rebuy-cart-note-content,
#rebuy-cart-note-content:focus {
  font-size: 14px;
  color: #1b1b1d;
  padding: 12px;
  width: 100%;
}

div#rebuy-cart-note-outer .yo_note_adjust span {
  font-size: 14px;
}