div#rebuy-cart {
  z-index: 9999999999999;
  position: relative;
}

.rebuy-cart__flyout-header {
  padding: 0px !important;
}

button.rebuy-cart__flyout-close {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(1);
  font-size: 20px !important;
}

.ajax-cart-item__title_rebuy a {
  font-size: 14px !important;
  text-decoration: none;
  font-family: "Hind", Helvetica Neue, Helvetica, Arial, Sans-serif;
  color: #0071d0 !important;
  text-transform: capitalize;
}

.rebuy-cart__flyout-item-quantity-widget {
  border: 1px solid #0071d0;
}

button.rebuy-cart__flyout-item-quantity-widget-button {
  width: 24px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0071d0 !important;
}

span.rebuy-cart__flyout-item-quantity-widget-label {
  border: none;
  height: 30px !important;
  width: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  color: #0071d0;
  pointer-events: none;
}

.rebuy-cart__flyout-item-quantity-widget-button:hover {
  background: none !important;
  width: 24px !important;
  height: 30px !important;
  display: flex !important;
}

.rebuy-cart__flyout-item-variant-title {
  font-size: 14px !important;
}

.rebuy-cart__flyout-item-price {
  font-size: 15px !important;
}

.rebuy-cart__flyout-item {
  border: none!important;
}

.rebuy-cart__flyout-items {
  border: none!important;
}

.rebuy-cart__checkout-button{
  border-radius: 0px !important;
  border: 1px solid #0bbee3 !important;
  background: #0bbee3 !important;
  text-transform: uppercase !important;
}

.rebuy-cart__checkout-button:hover{
  filter: brightness(80%);
}

.ajax-cart-drawer__announcement-content-text{
  background: white;
  border-bottom: 1px solid #E4E7ED !important;
}

.rebuy-cart__flyout-actions {
  display: none !important;
}

.rebuy-cart__flyout-subtotal.cart-subtotal-container{
  padding-top: 10px;
}